# Credenciais do banco
DB_USER_ORDERHANDLER=
DB_USER_ANALYTICS=
DB_USER_INVENTORY=
DB_USER_PAYMENTS=

# Postgres
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=

# API
ORDERHANDLER_DB_PASSWORD=

# Analytics Worker
ANALYTICS_DB_PASSWORD=

# Inventory Worker
INVENTORY_DB_PASSWORD=

# Payment Worker
PAYMENT_DB_PASSWORD=
PAYMENT_ACCESS_TOKEN=