# Credenciais do banco
DB_USER=
DB_PASS=

# Postgres
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=

# API
ORDERHANDLER_DB_PASSWORD=

# Analytics Worker
ANALYTICS_DB_PASSWORD=

# Inventory Worker
INVENTORY_DB_PASSWORD=

# Payment Worker
PAYMENT_DB_PASSWORD=
PAYMENT_ACCESS_TOKEN=