# Credenciais do banco
DB_USER=
DB_PASS=

# Postgres
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=

# API
ORDERHANDLER_DB_PASSWORD=

# Analytics Worker
ANALYTICS_DB_PASSWORD=

# Notification Worker
NOTIFICATION_DB_PASSWORD=